body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(80,0,0,0.9));
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 60px;
    color: red;
    letter-spacing: 3px;
}

.hero-content p {
    color: #ccc;
    font-size: 20px;
}

/* SECTION */
.section {
    padding: 100px 40px;
    text-align: center;
}

.dark {
    background: #0a0000;
}

.title {
    font-size: 40px;
    margin-bottom: 60px;
    color: red;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px red;
}

.card video {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.info {
    padding: 20px;
}

.info p {
    color: #aaa;
}

/* RAW */
.raw-box {
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px red;
}

.raw-box video {
    width: 100%;
}

.desc {
    margin-top: 20px;
    color: #aaa;
}

footer {
    padding: 40px;
    text-align: center;
    background: #000;
    color: #555;
}


